<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>取得設備GPS座標</title>

    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <!-- IE可能不見得有效 -->
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <!-- 設定成馬上就過期 -->
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <!-- 與第一行是同樣的作用 -->
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
</head>

<body>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="{{ url_for('static', filename='js/basic_v1_0_3.js' ) }}"></script>
</body>

</html>